#chart-container {
  width: 600px;
  height: 400px;
  position: fixed;
  top: 100px; /* 距离顶部的距离 */
  left: 20px; /* 距离右边的距离 */
  display: none;
  z-index: 999;
}

#colorbar {
  width: 25px;
  height: 200px;
  border-radius: 2px;
  position: absolute;
}

.colorbar-label {
  position: absolute;
  width: 100%;
  text-align: center;
  color: black;
  font-size: 12px;
}

.colorbar-label-high {
  top: 0;
}

.colorbar-label-low {
  bottom: 0;
}

.unit {
  position: absolute;
  top: -8%;
  left: -10px;
  transform: translateY(-50%);
  color: black;
  font-size: 15px;
  font-weight: bold;
}

.menu-button {
  width: 100px;
  height: 30px;
  position: absolute;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: bold;
  color: #000; /* 黑色文字 */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6);
  border: 0;
  transition: all 0.3s ease;
}

.menu-button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
}


#close-button {
  left: 540px;
}

#download-button {
  left: 480px;
}

.chart-button{
  width: 50px;
  height: 20px;
  position: absolute;
  top: 5px;
  z-index: 999;
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 0;
  margin: 0;
  border: none;
  background: #c1c1b9; 
  cursor: pointer;  
  font-size: 14px;     
  font-weight: bold;  
  color: #333;         
  border-radius: 4px; 
}

.chart-button:hover{
  background: #e0e0e0; /* 悬停时背景颜色 */
}

#title {
  position: absolute;
  font-weight: bold;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
  font-family: "KaiTi";
  font-size: 17px;
}
